# IDE
/.idea
/.vscode

# antlr
/grammar/.antlr/

# 可能用到的临时目录
/temp
/log

# 构建目录
/build

# 生成的临时文件
*.pyc
*.out

# 测试用目录
/test/dev/

# 根据语法文件生成的词法分析器和语法分析器
/third_party/antlr-runtime/generated/

# clangd
/.cache
/compile_commands.json
